* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 70px;
  background-color: #121212;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
.mid {
  display: flex;
  gap: 40px;
  color: #666866;
  font-family: sans-serif;
}
.right button {
  padding: 10px;
  color: #666866;
  border: 1px solid #666866;
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  transition: all 0.5s;
}
.menu:hover {
  transition: all 0.5s;
}
.menu:hover {
  color: white;
}
.right button:hover {
  color: white;
  border: 1px solid white;
}
/* Navbar Responsive */
@media (max-width: 810px) {
  .mid {
    gap: 20px;
  }
}
@media (min-width: 700px) {
  .mid i {
    display: none;
  }
}
@media (max-width: 700px) {
  .menu {
    display: none;
  }
  .mid i {
    color: white;
    font-size: 2rem;
  }
  nav {
    width: 101%;
  }
}
.hero {
  width: 99.7%;
  height: 570px;
  border: 2px solid black;
  display: flex;
  background-image: url(ad.png);
  background-size: cover;
  justify-content: center;
}
.hero img {
  width: 100%;
  z-index: -1;
}
.head h1,
p {
  color: white;
  font-family: sans-serif;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.head p {
  font-size: 1.5rem;
}
.head h1 {
  font-size: 4rem;
}
.btn1,
.btn2 {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: normal;
  width: 200px;
  font-size: 1rem;
}
.btn1 {
  background-image: linear-gradient(to right, #bf60ec, #2e0d57);
  color: white;
  border: none;
}
.btn2 {
  background-color: black;
  color: white;
  border: none;
  border: 2px solid white;
  width: 140px;
}
.btn1:hover {
  color: black;
  background-image: linear-gradient(white, white);
}
.btn2:hover {
  background-color: white;
  color: black;
}
.head span {
  color: #64a9f2;
  font-size: 1rem;
  word-spacing: 3px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 70px;
}
@media (max-width: 850px) {
  .head h1 {
    font-size: 2.5rem;
  }
  .head p {
    font-size: 1.2rem;
  }
  .head span {
    font-size: 0.6rem;
  }
}
@media (max-width: 550px) {
  .btn1,
  .btn2 {
    width: 120px;
    font-size: 0.7rem;
    padding: 12px;
  }
  .head h1 {
    font-size: 1.6rem;
    padding-top: 50px;
  }
  .head p {
    font-size: 0.7rem;
  }
  .head span {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .hero {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .hero {
    height: 300px;
  }
}
.sponser {
  background-color: #131214;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sponser img {
  width: 80px;
  height: 20px;
}
.ph1,
.ph2,
.ph3 {
  display: flex;
  gap: 30px;
}
@media (max-width: 915px) {
  .sponser img {
    width: 50px;
  }
}
@media (max-width: 647px) {
  .sponser {
    flex-direction: column;
  }

  .sponser img {
    width: 100px;
    margin: auto;
  }
  .ph1,
  .ph2,
  .ph3 {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .sponser img {
    width: 60px;
  }
  .sponser {
    flex-direction: column;
    gap: 10px;
    width: 101%;
  }
  .ph3 {
    justify-content: center;
    width: 300px;
  }
  .ph3 img {
    width: 70px;
  }
}
