* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 70px;
  background-color: #121212;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
body {
  background-color: #131214;
}
.mid {
  display: flex;
  gap: 40px;
  color: #666866;
  font-family: sans-serif;
}
.right button {
  padding: 10px;
  color: #666866;
  border: 1px solid #666866;
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  transition: all 0.5s;
}
.menu:hover {
  transition: all 0.5s;
}
.menu:hover {
  color: white;
}
.right button:hover {
  color: white;
  border: 1px solid white;
}
/* Navbar Responsive */
@media (max-width: 810px) {
  .mid {
    gap: 20px;
  }
}
@media (min-width: 700px) {
  .mid i {
    display: none;
  }
}
@media (max-width: 700px) {
  .menu {
    display: none;
  }
  .mid i {
    color: white;
    font-size: 2rem;
  }
  nav {
    width: 100.7%;
  }
}
@media (max-width: 388px) {
  nav {
    width: 101%;
  }
}
.hero {
  width: 100%;
  height: 570px;
  border: 2px solid black;
  display: flex;
  background-image: url(ad.png);
  background-size: cover;
  justify-content: center;
}
.hero img {
  width: 100%;
  z-index: -1;
}
.head h1,
p {
  color: white;
  font-family: sans-serif;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.head p {
  font-size: 1.5rem;
}
.head h1 {
  font-size: 4rem;
}
.btn1,
.btn2 {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: normal;
  width: 200px;
  font-size: 1rem;
}
.btn1 {
  background-image: linear-gradient(to right, #bf60ec, #2e0d57);
  color: white;
  border: none;
}
.btn2 {
  background-color: black;
  color: white;
  border: none;
  border: 2px solid white;
  width: 140px;
}
.btn1:hover {
  color: black;
  background-image: linear-gradient(white, white);
}
.btn2:hover {
  background-color: white;
  color: black;
}
.head span {
  color: #64a9f2;
  font-size: 1rem;
  word-spacing: 3px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 70px;
}
@media (max-width: 850px) {
  .head h1 {
    font-size: 2.5rem;
  }
  .head p {
    font-size: 1.2rem;
  }
  .head span {
    font-size: 0.6rem;
  }
}
@media (max-width: 550px) {
  .btn1,
  .btn2 {
    width: 120px;
    font-size: 0.7rem;
    padding: 12px;
  }
  .hero {
    width: 100%;
  }
  .head h1 {
    font-size: 1.6rem;
    padding-top: 50px;
  }
  .head p {
    font-size: 0.7rem;
  }
  .head span {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .hero {
    height: 400px;
  }
}

.sponser {
  background-color: #131214;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sponser img {
  width: 80px;
  height: 20px;
}
.ph1,
.ph2,
.ph3 {
  display: flex;
  gap: 30px;
}
@media (max-width: 915px) {
  .sponser img {
    width: 50px;
  }
}
@media (max-width: 647px) {
  .sponser {
    width: 100.7%;
  }
  .sponser img {
    width: 40px;
    margin: auto;
    height: 15px;
  }
  .ph1,
  .ph2,
  .ph3 {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .sponser img {
    width: 30px;
  }
  .sponser {
    width: 100.7%;
  }
  .ph3 {
    justify-content: center;
  }
}
@media (max-width: 367px) {
  .sponser {
    gap: 15px;
  }
  .sponser img {
    width: 25px;
    height: 10px;
  }
}
/* CAPTION SECTION */
.aba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #121212;
}
.main {
  width: 70%;
  height: 70%;

  border-radius: 10px;
  background-color: #1b1622;
  display: flex;
}
.m-left img {
  width: 450px;
  border-radius: 10px;
}
.m-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}
.m-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: 25px;
  font-family: sans-serif;
  padding: 10px;
}
.deve {
  padding: 10px;

  background-image: linear-gradient(to right, #1ef19f, #66aef3);
  border-radius: 17px;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
}
.m-right h2 {
  font-weight: lighter;
  color: gray;
  font-size: 1.5rem;
}
.m-right p {
  color: gray;
  font-size: 1rem;
}
.but {
  padding: 12px;
  background-color: black;
  border: none;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  transition: all 0.54s;
}
.but:hover {
  background-color: white;
  color: black;
  font-weight: 6;
}
@media (max-width: 1122px) {
  .m-left img {
    width: 350px;
  }

  .m-right h2 {
    font-size: 1rem;
  }
  .deve {
    padding: 5px;
  }
  .but {
    padding: 7px;
  }
  .m-right p {
    font-size: 0.8rem;
  }
}
@media (max-width: 805px) {
  .main {
    flex-direction: column;
  }
  .m-left {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-left img {
    margin: auto;
  }
  .aba {
    height: 600px;
    width: 100.7%;
  }
  .m-right h2 {
    font-size: 1.5rem;
  }
  .m-right p {
    font-size: 1rem;
  }
}
@media (max-width: 510px) {
  .m-left img {
    width: 250px;
  }
  .aba {
    width: 101%;
  }
}
@media (max-width: 450px) {
  .m-left img {
    width: 160px;
  }
  .m-left {
    padding: 2px;
    padding-top: 10px;
  }
  .m-right h2 {
    font-size: 1.3rem;
  }
  .m-right p {
    font-size: 0.9rem;
  }
  .aba {
    width: 101%;
  }
}

@media (max-width: 350px) {
  .aba {
    width: 101.5%;
  }
}
.com {
  width: 100%;
  height: 600px;
  color: white;
  background-color: #131214;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}
.ri {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.le {
  font-size: 3rem;
}
.ri p {
  font-size: 2rem;
}
.ri1 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#c34cd3, #430d75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ri2 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#75efff, #0e6975);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ri3 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#41f1b7, #36b316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 903px) {
  .ri h1 {
    font-size: 4rem;
  }
  .ri p {
    font-size: 1.3rem;
  }
  .le {
    font-size: 2rem;
  }
}
@media (max-width: 810px) {
  .com {
    width: 100.7%;
  }
}
@media (max-width: 620px) {
  .com {
    padding-top: 60px;
  }
  .ri h1 {
    font-size: 3rem;
  }
  .ri p {
    font-size: 1rem;
  }
  .le {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .com {
    width: 101%;
  }
}
@media (max-width: 446px) {
  .com {
    flex-direction: column;
    padding-left: 20px;
    width: 96%;
  }
}
@media (max-width: 388px) {
  .com {
    width: 95.7%;
  }
}
@media (max-width: 350px) {
  .com {
    width: 95%;
  }
}
/* go section */
.go {
  display: flex;

  width: 1780px;
  margin: auto;
  height: 600px;
  margin-top: 10px;
  color: white;
  background-image: url(nava.png);
  background-size: cover;
  justify-content: space-around;
  padding-top: 50px;
}
.rev {
  display: flex;
  width: 70%;
  gap: 40px;
}
.box {
  width: 300px;
  height: 300px;
  background-color: black;

  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
}
.line1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.line2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  border-left: 3px solid #0e6975;
  padding-left: 5px;
}
.box h2 {
  font-weight: lighter;
}
.text h1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}
@media (max-width: 1780px) {
  .go {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .go {
    gap: 50px;
    width: 1000px;
  }
  .text h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .go {
    gap: 20px;
    width: 700px;
  }
  .line1 {
    gap: 20px;
  }
  .line2 {
    gap: 20px;
  }
  .box {
    width: 200px;
    height: 300px;
  }
  .box h3 {
    font-size: 1rem;
  }
  .box h2 {
    font-size: 1rem;
  }
  .box p {
    font-size: 0.8rem;
  }
}
@media (max-width: 720px) {
  .go {
    gap: 20px;
    width: 600px;
  }
  .line1 {
    gap: 10px;
  }
  .line2 {
    gap: 10px;
  }
  .box {
    width: 150px;
    height: 250px;
  }
  .box h3 {
    font-size: 0.8rem;
  }
  .box h2 {
    font-size: 0.8rem;
  }
  .box p {
    font-size: 0.6rem;
  }
  .text h1 {
    font-size: 1rem;
  }
}
@media (max-width: 620px) {
  .go {
    flex-direction: column;
    height: 2500px;
    justify-content: none;
    align-items: center;
    width: 450px;
  }
  .rev {
    flex-direction: column;
    width: 95%;
  }
  .text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .box {
    height: 400px;
    width: 400px;
    text-align: center;
  }
  .box h2 {
    font-size: 2rem;
  }
  .box p {
    font-size: 1.2rem;
  }
  .box h3 {
    font-size: 2.5rem;
  }
  .box h6 {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .box {
    width: 290px;
  }
  .rev {
    width: 95%;
  }
  .text h1 {
    font-size: 3rem;
  }
  .go {
    width: 320px;
    margin-top: 0;
  }
}
.t-section {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 50px;
  font-family: sans-serif;

  padding: 10px;
}
.des {
  font-size: 2rem;
}
.study {
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: none;
  border: 2px solid white;
  font-size: 1rem;
}
@media (max-width: 705px) {
  .des {
    font-size: 1.2rem;
  }
  .study {
    padding: 5px;
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .t-section {
    flex-direction: column;
    gap: 20px;
  }
  .des {
    text-align: center;
  }
  .study {
    padding: 10px;
  }
}
