* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 70px;
  background-color: #121212;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}
body {
  background-color: #131214;
}
.mid {
  display: flex;
  gap: 40px;
  color: #666866;
  font-family: sans-serif;
}
.right button {
  padding: 10px;
  color: #666866;
  border: 1px solid #666866;
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  transition: all 0.5s;
}
.menu:hover {
  transition: all 0.5s;
}
.menu:hover {
  color: white;
}
.right button:hover {
  color: white;
  border: 1px solid white;
}
/* Navbar Responsive */
@media (max-width: 810px) {
  .mid {
    gap: 20px;
  }
}
@media (min-width: 700px) {
  .mid i {
    display: none;
  }
}
@media (max-width: 700px) {
  .menu {
    display: none;
  }
  .mid i {
    color: white;
    font-size: 2rem;
  }
  nav {
    width: 100.7%;
  }
}
@media (max-width: 388px) {
  nav {
    width: 101%;
  }
}
.hero {
  width: 100%;
  height: 570px;
  border: 2px solid black;
  display: flex;
  background-image: url(ad.png);
  background-size: cover;
  justify-content: center;
}
.hero img {
  width: 100%;
  z-index: -1;
}
.head h1,
p {
  color: white;
  font-family: sans-serif;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.head p {
  font-size: 1.5rem;
}
.head h1 {
  font-size: 4rem;
}
.btn1,
.btn2 {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: normal;
  width: 200px;
  font-size: 1rem;
}
.btn1 {
  background-image: linear-gradient(to right, #bf60ec, #2e0d57);
  color: white;
  border: none;
}
.btn2 {
  background-color: black;
  color: white;
  border: none;
  border: 2px solid white;
  width: 140px;
}
.btn1:hover {
  color: black;
  background-image: linear-gradient(white, white);
}
.btn2:hover {
  background-color: white;
  color: black;
}
.head span {
  color: #64a9f2;
  font-size: 1rem;
  word-spacing: 3px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 70px;
}
@media (max-width: 850px) {
  .head h1 {
    font-size: 2.5rem;
  }
  .head p {
    font-size: 1.2rem;
  }
  .head span {
    font-size: 0.6rem;
  }
}
@media (max-width: 550px) {
  .btn1,
  .btn2 {
    width: 120px;
    font-size: 0.7rem;
    padding: 12px;
  }
  .hero {
    width: 100%;
  }
  .head h1 {
    font-size: 1.6rem;
    padding-top: 50px;
  }
  .head p {
    font-size: 0.7rem;
  }
  .head span {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .hero {
    height: 400px;
  }
}

.sponser {
  background-color: #131214;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sponser img {
  width: 80px;
  height: 20px;
}
.ph1,
.ph2,
.ph3 {
  display: flex;
  gap: 30px;
}
@media (max-width: 915px) {
  .sponser img {
    width: 50px;
  }
}
@media (max-width: 647px) {
  .sponser {
    width: 100.7%;
  }
  .sponser img {
    width: 40px;
    margin: auto;
    height: 15px;
  }
  .ph1,
  .ph2,
  .ph3 {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .sponser img {
    width: 30px;
  }
  .sponser {
    width: 100.7%;
  }
  .ph3 {
    justify-content: center;
  }
}
@media (max-width: 367px) {
  .sponser {
    gap: 15px;
  }
  .sponser img {
    width: 25px;
    height: 10px;
  }
}
/* CAPTION SECTION */
.aba {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #121212;
}
.main {
  width: 70%;
  height: 70%;

  border-radius: 10px;
  background-color: #1b1622;
  display: flex;
}
.m-left img {
  width: 450px;
  border-radius: 10px;
}
.m-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}
.m-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: 25px;
  font-family: sans-serif;
  padding: 10px;
}
.deve {
  padding: 10px;

  background-image: linear-gradient(to right, #1ef19f, #66aef3);
  border-radius: 17px;
  color: black;
  font-family: sans-serif;
  font-weight: normal;
}
.m-right h2 {
  font-weight: lighter;
  color: gray;
  font-size: 1.5rem;
}
.m-right p {
  color: gray;
  font-size: 1rem;
}
.but {
  padding: 12px;
  background-color: black;
  border: none;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  transition: all 0.54s;
}
.but:hover {
  background-color: white;
  color: black;
  font-weight: 6;
}
@media (max-width: 1122px) {
  .m-left img {
    width: 350px;
  }

  .m-right h2 {
    font-size: 1rem;
  }
  .deve {
    padding: 5px;
  }
  .but {
    padding: 7px;
  }
  .m-right p {
    font-size: 0.8rem;
  }
}
@media (max-width: 805px) {
  .main {
    flex-direction: column;
  }
  .m-left {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-left img {
    margin: auto;
  }
  .aba {
    height: 600px;
    width: 100.7%;
  }
  .m-right h2 {
    font-size: 1.5rem;
  }
  .m-right p {
    font-size: 1rem;
  }
}
@media (max-width: 510px) {
  .m-left img {
    width: 250px;
  }
  .aba {
    width: 101%;
  }
}
@media (max-width: 450px) {
  .m-left img {
    width: 160px;
  }
  .m-left {
    padding: 2px;
    padding-top: 10px;
  }
  .m-right h2 {
    font-size: 1.3rem;
  }
  .m-right p {
    font-size: 0.9rem;
  }
  .aba {
    width: 101%;
  }
}

@media (max-width: 350px) {
  .aba {
    width: 101.5%;
  }
}
.com {
  width: 100%;
  height: 600px;
  color: white;
  background-color: #131214;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}
.ri {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.le {
  font-size: 3rem;
}
.ri p {
  font-size: 2rem;
}
.ri1 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#c34cd3, #430d75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ri2 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#75efff, #0e6975);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ri3 h1 {
  font-weight: 100;
  font-size: 80px;
  background: -webkit-linear-gradient(#41f1b7, #36b316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 903px) {
  .ri h1 {
    font-size: 4rem;
  }
  .ri p {
    font-size: 1.3rem;
  }
  .le {
    font-size: 2rem;
  }
}
@media (max-width: 810px) {
  .com {
    width: 100.7%;
  }
}
@media (max-width: 620px) {
  .com {
    padding-top: 60px;
  }
  .ri h1 {
    font-size: 3rem;
  }
  .ri p {
    font-size: 1rem;
  }
  .le {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .com {
    width: 101%;
  }
}
@media (max-width: 446px) {
  .com {
    flex-direction: column;
    padding-left: 20px;
    width: 96%;
  }
}
@media (max-width: 388px) {
  .com {
    width: 95.7%;
  }
}
@media (max-width: 350px) {
  .com {
    width: 95%;
  }
}
/* go section */
.go {
  display: flex;

  width: 1780px;
  margin: auto;
  height: 600px;
  margin-top: 10px;
  color: white;
  background-image: url(nava.png);
  background-size: cover;
  justify-content: space-around;
  padding-top: 50px;
}
.rev {
  display: flex;
  width: 70%;
  gap: 40px;
}
.box {
  width: 300px;
  height: 300px;
  background-color: black;

  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
}
.line1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.line2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  border-left: 3px solid #0e6975;
  padding-left: 5px;
}
.box h2 {
  font-weight: lighter;
}
.text h1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}
@media (max-width: 1780px) {
  .go {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .go {
    gap: 50px;
    width: 1000px;
  }
  .text h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .go {
    gap: 20px;
    width: 700px;
  }
  .line1 {
    gap: 20px;
  }
  .line2 {
    gap: 20px;
  }
  .box {
    width: 200px;
    height: 300px;
  }
  .box h3 {
    font-size: 1rem;
  }
  .box h2 {
    font-size: 1rem;
  }
  .box p {
    font-size: 0.8rem;
  }
}
@media (max-width: 720px) {
  .go {
    gap: 20px;
    width: 600px;
  }
  .line1 {
    gap: 10px;
  }
  .line2 {
    gap: 10px;
  }
  .box {
    width: 150px;
    height: 250px;
  }
  .box h3 {
    font-size: 0.8rem;
  }
  .box h2 {
    font-size: 0.8rem;
  }
  .box p {
    font-size: 0.6rem;
  }
  .text h1 {
    font-size: 1rem;
  }
}
@media (max-width: 620px) {
  .go {
    flex-direction: column;
    height: 2500px;
    justify-content: none;
    align-items: center;
    width: 450px;
  }
  .rev {
    flex-direction: column;
    width: 95%;
  }
  .text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .box {
    height: 400px;
    width: 400px;
    text-align: center;
  }
  .box h2 {
    font-size: 2rem;
  }
  .box p {
    font-size: 1.2rem;
  }
  .box h3 {
    font-size: 2.5rem;
  }
  .box h6 {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .box {
    width: 290px;
  }
  .rev {
    width: 95%;
  }
  .text h1 {
    font-size: 3rem;
  }
  .go {
    width: 320px;
    margin-top: 0;
  }
}
/* text Section  */
.t-section {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 50px;
  font-family: sans-serif;

  padding: 10px;
}
.des {
  font-size: 2rem;
}
.study {
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: none;
  border: 2px solid white;
  font-size: 1rem;
}
/* text section responsive */
@media (max-width: 705px) {
  .des {
    font-size: 1.2rem;
  }
  .study {
    padding: 5px;
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .t-section {
    flex-direction: column;
    gap: 20px;
  }
  .des {
    text-align: center;
  }
  .study {
    padding: 10px;
  }
}
/* Xp Section  */
.xp {
  width: 1700px;

  height: 700px;
  padding: 50px;
}
.x-top {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 350px;
  width: 98%;
  background-image: url(xp2.png);
  background-size: 100% 100%;
  padding: 10px;
  border-radius: 10px;
}
.arrow {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
}
.case {
  height: 20px;
  width: 120px;
  padding: 5px;
  border-radius: 20px;
  background-color: #9945ff;
  font-family: sans-serif;
  text-align: center;
}
.x-top h1 {
  font-size: 3rem;
  font-family: sans-serif;
}
.x-top p {
  font-size: 1.5rem;
  font-family: sans-serif;
}
.x-bottom {
  color: white;
  display: flex;
  gap: 30px;
  padding: 10px;
}
.card {
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  font-family: sans-serif;
  background-image: url(xp3.png);
  background-size: cover;
}
.card p {
  font-size: 1.5rem;
}
/* Xp Responsive */
@media (max-width: 1750px) {
  .xp {
    width: 1250px;
  }
  .card {
    gap: 20px;
  }
}
@media (max-width: 1328px) {
  .x-bottom {
    flex-direction: column;
  }
  .x-top {
    margin-left: 10px;
    width: 320px;
    margin: auto;
  }
  .card {
    width: 300px;
    align-items: center;
    margin: auto;
  }
  .xp {
    width: 50%;
    height: 1450px;
  }
  .hew {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .xp {
    width: 60%;
  }
  .arrow {
    display: none;
  }
}
@media (max-width: 510px) {
  .xp {
    width: 300px;
    padding: 0px;
    height: 1800px;
  }
  .card {
    width: 200px;
    height: 400px;
  }
  .x-top {
    width: 220px;
  }
  .arrow {
    display: none;
  }
}
/* build  */
.build {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  margin-top: 15px;
}
.build h1 {
  font-size: 4rem;
}

.buttons button {
  padding: 15px;
  border-radius: 20px;
  color: white;
  border: none;
  background-color: #242225;
}
.buttons button:hover {
  background-color: #322f33;
}
/* Build Responsive */
@media (max-width: 1000px) {
  .build {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .build h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 400px) {
  .buttons button {
    font-size: 0.5rem;
  }
}
/* Shopify Section */
.shop {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.shop span {
  color: white;
}
.shopi {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  font-family: sans-serif;
}
.shopi img {
  width: 300px;
}
.shopi p {
  width: 600px;
  font-size: 1.5rem;
}
.shopi span {
  font-size: 1.2rem;
}
/* Shopify Section */
@media (max-width: 1328px) {
  .shop {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 690px) {
  .photo img {
    width: 390px;
  }
  .shopi img {
    width: 200px;
  }
  .shopi {
    width: 390px;
  }
  .shopi p {
    width: 390px;
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  .photo img {
    width: 300px;
  }
  .shopi img {
    width: 150px;
  }
  .shopi p {
    width: 300px;
  }
  .shopi {
    width: 300px;
  }
}
/* Logo Section */
.logo {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
/* Logo Section Responsive */
@media (max-width: 700px) {
  .logo {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .logo img {
    width: 150px;
  }
}
/* thri Section */
.thri h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  color: white;
  font-family: sans-serif;
}
.thri {
  padding-left: 50px;
}
@media (max-width: 565px) {
  .thri h1 {
    font-size: 1.2rem;
  }
}
.puyo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid {
  width: 1780px;
  height: 600px;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.boxes1,
.boxes2,
.boxes3,
.boxes4,
.boxes5,
.boxes6,
.boxes7,
.boxes8 {
  background-color: black;
  height: 50px;
  width: 50px;
}
.move {
  display: flex;
  gap: 20px;
}
.boxes1 {
  height: 550px;
  width: 300px;
  background-image: url(grid.png);
  background-size: 100% 100%;
}
/* t */
.boxes2 {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.tota {
  background-color: #0e6975;
  width: 150px;
  height: 150px;
}
.boxes3 {
  height: 550px;
  width: 600px;
  background-image: url(grid4.png);
  background-size: 100% 100%;
  border-radius: 10px;
  padding: 10px;
}
/* t */
.boxes4 {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.mota {
  background-color: #0e6975;
  width: 150px;
  height: 150px;
}
.boxes5 {
  height: 550px;
  width: 300px;
  background-image: url(grid6.png);
  background-size: 100% 100%;
  padding: 10px;
}
/* t */
.boxes6 {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;

  justify-content: center;
}
.nota {
  background-color: #0e6975;
  width: 150px;
  height: 150px;
}

.boxes7 {
  height: 550px;
  width: 600px;
  background-image: url(grid3.png);
  background-size: 100% 100%;
  border-radius: 10px;
  padding: 10px;
}
/* t */
.boxes8 {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.lota {
  background-color: #1d1a23;
  width: 350px;
  height: 250px;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
}
#loge {
  background-image: url(grid1.png);
  width: 350px;
}
.lota h1 {
  color: #1ef19f;
  font-size: 2.5rem;
}
#two {
  background-image: url(grid2.png);
  width: 400px;
  height: 300px;
  background-size: 100% 100%;
}
.tota {
  background-color: #1d1a23;
  color: #d5dd69;
  font-size: 1.5rem;
  font-family: sans-serif;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#strip {
  background-image: url(grid5.png);
  background-size: 100% 100%;
  width: 300px;
  height: 300px;
}
.mota p {
  color: rgb(26, 85, 248);
  font-size: 3rem;
  font-weight: bold;
}
.mota {
  background-color: #1d1a23;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  gap: 20px;
  border-radius: 10px;
}
.mota h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
}
#loei {
  background-image: url(grid7.png);
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
}
.nota {
  background-color: #1d1a23;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  gap: 20px;
  border-radius: 10px;
}
.nota h1 {
  color: #eb54bb;
  font-size: 3rem;
}
.move {
  animation-name: identifier;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes identifier {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(0px);
  }
}
